<% content_for :meta, "<link rel='alternate' type='application/rss+xml' 
                          title='#{RefinerySetting.find_or_set(:site_name, 'Company Name')} Events'
                          href='#{events_url(:format => :rss)}' />".html_safe -%>
<% content_for :meta, "<link rel='alternate' type='application/ics' 
                          title='#{RefinerySetting.find_or_set(:site_name, 'Company Name')} Events'
                          href='#{events_url(:format => :ics)}' />".html_safe -%>
<% content_for :body_content_right do %>

  <% if @event_categories.any? %>
	<aside class="sidebar_module categories">
		<h2>Categories</h2>
    <ul>
      <% @event_categories.each do |category| -%>
      <li><%= link_to category.name, category_events_path(category) %></li>
      <% end -%>
    </ul>
	</aside><!-- .categories -->
	<% end %>
	<% unless controller.action_name == "index" or controller.action_name == "archive" -%>
	  <aside class="sidebar_module other_events">
	    <h2>Other</h2>
	    <ul id="events">
	      <% @other_events.each do |event| %>
	        <li>
	          <%= link_to event.title, event_url(event) %>
	        </li>
	      <% end %>
	    </ul>
	  </aside><!-- .other_events -->
	<% end -%>
	
	<%#*<aside class="sidebar_module archives">%>
		<%#*<h2>Archives</h2>%>
		<%#= events_archive_list %>
	<%#*</aside><!-- .archives -->%>
	<aside class="sidebar_module rss">
		<h2>RSS</h2>
    <a href="<%= events_path(:format => :rss) %>"><img alt="rss icon" src="/images/s.gif" class="sprites sprite-icon-rss-32" /> Subscribe</a>
	</aside><!-- .rss -->
	<aside class="sidebar_module ical">
		<h2>ICAL</h2>
    <a href="<%= events_path(:format => :ics) %>"><img alt="ical icon" src="/images/s.gif" class="sprites sprite-icon-ical-32" /> Subscribe</a>
	</aside><!-- .ics -->
	
<% end %>